importFrom("graphics",
	"plot")
import("stats")
importFrom("lattice",
	"xyplot",
	"bwplot",
	"dotplot",
	"barchart",
	"stripplot",
	"histogram")
export(
	"areaMeans",
	"areaSums",
	"as.FLFleet",
	"as.FLQuant",
	"bevholt",
	"createFLAccesors",
	"computeCatch",
	"computeDiscards",
	"computeLandings",
	"dimSums",
	"FLBiol",
	"FLBiols",
	"FLCatch",
	"FLFleet",
	"FLFleets",
	"FLIndex",
	"FLIndices",
	"FLQuant",
	"FLQuants",
	"FLSR",
	"FLStock",
	"FLStocks",
	"is.FLBiol",
	"is.FLBiols",
	"is.FLFleet",
	"is.FLFleets",
	"is.FLIndex",
	"is.FLIndices",
	"is.FLQuant",
	"is.FLSR",
	"is.FLStock",
	"is.FLStocks",
    "mat",
    "mat<-",
	"qhstk",
	"quantMeans",
	"quantSums",
	"quantTotals",
	"read.FLStock",
	"read.FLIndex",
	"read.FLIndices",
	"read.VPAFile",
	"ricker",
	"seasonMeans",
	"seasonSums",
	"segreg",
	"setPlusGroup",
	"sop",
	"sr",
	"srlkhd",
	"steepvirginbiom",
	"stock",
	"stock<-",
	"stock.n",
	"stock.n<-",
	"stock.wt",
	"stock.wt<-",
	"unitMeans",
	"unitSums",
	"write.FLStock",
	"yearMeans",
	"yearSums",
	"yearTotals")
exportClasses(
	"FLBiol",
	"FLBiols",
	"FLCatch",
	"FLFleet",
	"FLFleets",
	"FLIndex",
	"FLIndices",
	"FLQuant",
	"FLQuants",
	"FLSR",
	"FLStock",
	"FLStocks")
exportMethods(
	"[",
	"[<-",
	"aic",
	"aic<-",
	"apply",
	"as.data.frame",
	"as.FLBiol",
	"as.FLFleet",
	"as.FLIndex",
	"as.FLQuant",
	"as.FLStock",
	"as.FLSR",
	"barchart",
	"bubbles",
	"bwplot",
	"catch",
	"catch<-",
	"catch.n",
	"catch.n<-",
	"catch.wt",
	"catch.wt<-",
	"catch.sel",
	"catch.sel<-",
    "catchability",
    "catchability<-",
	"covar",
	"covar<-",
	"data.list",
	"desc",
	"desc<-",
	"dimnames<-",
	"dims",
	"discards",
	"discards<-",
	"discards.n",
	"discards.n<-",
	"discards.wt",
	"discards.wt<-",
	"discards.sel",
	"discards.sel<-",
	"distribution",
	"distribution<-",
	"dotplot",
	"effort",
	"effort<-",
	"fec",
	"fec<-",
	"FLQuant",
    "gear",
    "gear<-",
	"harvest",
	"harvest<-",
	"harvest.spwn",
	"harvest.spwn<-",
	"histogram",
	"index",
	"index<-",
	"index.var",
	"index.var<-",
	"qapply",
	"landings",
	"landings<-",
	"landings.n",
	"landings.n<-",
	"landings.wt",
	"landings.wt<-",
	"landings.sel",
	"landings.sel<-",
	"lapply",
	"m",
	"m<-",
	"m.spwn",
	"m.spwn<-",
	"mcf",
	"mcmc",
	"mcmc<-",
	"model",
	"model<-",
	"n",
	"n<-",                             
	"name",
	"name<-",
	"params",
	"params<-",
	"plot",
	"predict",
    "price",
    "price<-",
	"index.q",
	"quant",
	"quant<-",
	"rec",
	"rec<-",
	"rechat",
	"rechat<-",
	"residuals",
	"residuals<-",
	"revenue",
	"se",
	"se<-",
	"sel.pattern",
	"show",
	"spwn",
	"spwn<-",
	"ssb",
	"ssb<-",
	"ssbpurec",
	"stripplot",
	"summary",
	"transform",
	"trim",
	"type",
	"type<-",
	"units",
	"units<-",
	"var",
	"var<-",
	"varacorr",
	"varacorr<-",
	"window",
	"wt",
	"wt<-",
	"xyplot",
	"tofrm"
)
