importFrom("graphics",
	"plot")
import("stats")
importFrom("lattice",
	"xyplot",
	"bwplot",
	"dotplot",
	"barchart",
	"stripplot",
	"histogram")
export(
	"areaMeans",
	"areaSums",
	"as.FLFleet",
	"as.FLQuant",
	"bevholt",
	"createFLAccesors",
	"FLBiol",
	"FLBiols",
	"FLCatch",
	"FLFleet",
	"FLFleets",
	"FLIndex",
	"FLIndexAcoustic",
	"FLIndexCom",
	"FLIndexSurvey",
	"FLIndices",
	"FLQuant",
	"FLQuants",
	"FLSR",
	"FLStock",
	"FLStocks",
	"is.FLBiol",
	"is.FLBiols",
	"is.FLFleet",
	"is.FLFleets",
	"is.FLIndex",
	"is.FLIndexCom",
	"is.FLIndexSurvey",
	"is.FLIndexAcoustic",
	"is.FLIndices",
	"is.FLQuant",
	"is.FLSR",
	"is.FLStock",
	"is.FLStocks",
	"qhstk",
	"quantMeans",
	"quantSums",
	"quantTotals",
	"read.FLStock",
	"read.FLIndex",
	"read.FLIndices",
	"read.VPAFile",
	"ricker",
	"seasonMeans",
	"seasonSums",
	"segreg",
	"setPlusGroup",
	"sop",
	"sr",
	"srlkhd",
	"steepvirginbiom",
	"unitMeans",
	"unitSums",
	"write.FLStock",
	"yearMeans",
	"yearSums",
	"yearTotals")
exportClasses(
	"FLBiol",
	"FLBiols",
	"FLCatch",
	"FLFleet",
	"FLFleets",
	"FLIndex",
	"FLIndexAcoustic",
	"FLIndexCom",
	"FLIndexSurvey",
	"FLIndices",
	"FLQuant",
	"FLQuants",
	"FLSR",
	"FLStock",
	"FLStocks")
exportMethods(
	"[",
	"[<-",
	"aic",
	"aic<-",
	"apply",
	"as.data.frame",
	"as.FLBiol",
	"as.FLFleet",
	"as.FLIndex",
	"as.FLQuant",
	"as.FLStock",
	"barchart",
	"bubbles",
	"bwplot",
	"catch",
	"catch.n",
	"catch.wt",
	"covar",
	"covar<-",
	"desc",
	"desc<-",
	"dimnames<-",
	"dims",
	"discards",
	"distribution",
	"distribution<-",
	"dotplot",
	"effort",
	"fec",
	"fec<-",
	"FLQuant",
	"harvest",
	"harvest<-",
	"histogram",
	"index",
	"index<-",
	"index.var",
	"index.var<-",
	"landings",
	"m",
	"m<-",
	"mcmc",
	"mcmc<-",
	"model",
	"model<-",
	"n",
	"n<-",                             
	"name",
	"name<-",
	"names",
	"params",
	"params<-",
	"plot",
	"predict",
	"index.q",
	"quant",
	"quant<-",
	"rec",
	"rec<-",
	"rechat",
	"rechat<-",
	"residuals","residuals<-",
	"revenue",
	"se",
	"se<-",
	"sel.pattern",
	"show",
	"spwn",
	"spwn<-",
	"ssb",
	"ssb<-",
	"stripplot",
	"summary",
	"transform",
	"trim",
	"units",
	"units<-",
	"var",
	"var<-",
	"varacorr",
	"varacorr<-",
	"window",
	"wt",
	"wt<-",
	"xyplot"
)
